@page "/"

<PageTitle>Generic Company</PageTitle>

<div class="landing-page">
    <img src="Images/logo.png" alt="company logo"/>
    <h1>Welcome to Generic Company</h1>
    <p>Your trusted partner for all your business needs</p>

    <div class="button-section">
        <button @onclick="NavigateToSupport" class="support-button">Go to Support</button>
    </div>
</div>
